@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');
.left-home-page{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-around;
    align-items: flex-start;
    height: 100vh;
    font-family: 'Chivo', sans-serif;
}

.left-home-page--details-container{
    height: 56%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-home-page--details-container--header{
    font-size: 4rem;
    word-wrap: break-word;
    font-weight: 1000;
    font-family: 'Epilogue', sans-serif;

}

.left-home-page--details-container--description{
    word-break: break-word;
    font-weight: 700;
    color: hsl(0, 0%, 41%);
}

.left-home-page--details-container--learn-more-btn{
    background-color: hsl(0, 0%, 8%);
    border: none;
    color: hsl(0, 0%, 98%);
    font-family: 'Chivo', sans-serif;
    height: 2.9rem;
    width: 7.2rem;
    border-radius: 5px;
    font-weight: 700;
}

.left-home-page--brand-logos{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-home-page--brand-logos--imgs{
    object-fit: contain;
}
